body{
    margin: 30px;
    font-family: Arial, sans-serif;
}

form, table {
    font-family: 'Courier New', Courier, monospace;
}

button{
    margin: 5px 5px 5px 0;
    padding: 8px 12px;
}

input, select {
    margin: 5px 0;
    padding: 3px 5px;
    height: 25px;
    box-sizing: border-box;
}

::placeholder, select.placeholder option[disabled] {
    font: italic 14px Arial, sans-serif;
}